body	{
	background-color: #000080;
	color: #000000;
	}

h1	{
	text-align: center;
	}

h2	{
	text-align: center;
	}

#nav div {
	float: left;
	border: 2px dotted green;
	left: 0px;
	width: 150px;
	}

#nav ul	{
	list-style: none;
	padding: 0;
	}

#nav li {
	border: 1px dashed silver;
	border-width: 1px 1px 1px 2px;
	text-align: center;
	margin-left: 0;
	}

#nav a {
	}

#nav a.active {
	color: #5050A0;
	font-style: italic;
	}

#subnav a {
	}

#subnav a.active {
	background-color: #000080;
	color: white;
	}

#subnav ul {
	list-style: none;
	}

#subnav li {
	text-align: right;
	font-size: small;
	}

div.error {
	text-align: center;
	padding: 5%;
	font-weight: bold;
	font-size: large;
	color: red;
	}

div.list_lists {
	margin-left: 40%;
	}

div.list_lists a {
	}

div.list_lists li {
	list-style: none;
	}
