intl/cs/*.mo
intl/cs/LC_MESSAGES/*.mo
intl/da/*.mo
intl/da/LC_MESSAGES/*.mo
intl/de/*.mo
intl/de/LC_MESSAGES/*.mo
intl/en/*.mo
intl/en/LC_MESSAGES/*.mo
intl/es/*.mo
intl/es/LC_MESSAGES/*.mo
intl/fi/*.mo
intl/fi/LC_MESSAGES/*.mo
intl/fr/*.mo
intl/fr/LC_MESSAGES/*.mo
intl/hu/*.mo
intl/hu/LC_MESSAGES/*.mo
intl/it/*.mo
intl/it/LC_MESSAGES/*.mo
intl/ja/*.mo
intl/ja/LC_MESSAGES/*.mo
intl/nl/*.mo
intl/nl/LC_MESSAGES/*.mo
intl/pl/*.mo
intl/pl/LC_MESSAGES/*.mo
intl/pt/*.mo
intl/pt/LC_MESSAGES/*.mo
intl/pt_BR/*.mo
intl/pt_BR/LC_MESSAGES/*.mo
intl/ru/*.mo
intl/ru/LC_MESSAGES/*.mo
intl/sl/*.mo
intl/sl/LC_MESSAGES/*.mo
intl/sv/*.mo
intl/sv/LC_MESSAGES/*.mo
