* text=auto !eol
/INSTALL -text
/INSTALL.clearsilver -text
/README -text
/TODO -text
/UPGRADING -text
/changelog -text
/copyright -text
css/default.css -text
debian-related/DEBIAN/conffiles -text
debian-related/DEBIAN/control -text
debian-related/DEBIAN/postinst -text
debian-related/DEBIAN/postrm -text
debian-related/DEBIAN/prerm -text
debian-related/README.Debian -text
debian-related/changelog.Debian -text
debian-related/ezmlm-web-make-suid -text
debian-related/index.c -text
debian-related/man/ezmlm-web-make-suid.1 -text
/ezmlm-web.cgi -text
/ezmlmwebrc -text
/htaccess.sample -text
/index.c -text
lang/de.hdf -text
lang/en.hdf -text
lang/jp.pm -text
scripts/check_languages.sh -text
scripts/debian.sh -text
spec/actions-spec.txt -text
spec/hdf-spec.txt -text
spec/release-policy.txt -text
template/config_admin.cs -text
template/config_all.cs -text
template/config_archive.cs -text
template/config_main.cs -text
template/config_options/admin_edit_text.cs -text
template/config_options/admin_enabled.cs -text
template/config_options/admin_get_subscribers.cs -text
template/config_options/admin_path.cs -text
template/config_options/archive_deny_unknown.cs -text
template/config_options/archive_enabled.cs -text
template/config_options/archive_mod_only.cs -text
template/config_options/archive_remove_private_header.cs -text
template/config_options/block_deny.cs -text
template/config_options/block_nonmod_post.cs -text
template/config_options/block_others_archive.cs -text
template/config_options/block_others_post.cs -text
template/config_options/charset_select.cs -text
template/config_options/confirm_post.cs -text
template/config_options/confirm_sub.cs -text
template/config_options/confirm_unsub.cs -text
template/config_options/digest_enabled.cs -text
template/config_options/digest_settings.cs -text
template/config_options/from_address.cs -text
template/config_options/headeradd.cs -text
template/config_options/headerremove.cs -text
template/config_options/lang_select.cs -text
template/config_options/mailman_requests.cs -text
template/config_options/mainlist.cs -text
template/config_options/mime_both.cs -text
template/config_options/mimecheck.cs -text
template/config_options/mimereject.cs -text
template/config_options/mimeremove.cs -text
template/config_options/mod_post.cs -text
template/config_options/mod_post_path.cs -text
template/config_options/mod_sub.cs -text
template/config_options/mod_sub_path.cs -text
template/config_options/msgsize_max.cs -text
template/config_options/msgsize_min.cs -text
template/config_options/mysql.cs -text
template/config_options/owner_address.cs -text
template/config_options/prefix.cs -text
template/config_options/public.cs -text
template/config_options/trailer.cs -text
template/config_options/warn_remove.cs -text
template/config_options/webusers.cs -text
template/config_posting.cs -text
template/config_processing.cs -text
template/config_subscription.cs -text
template/footer.cs -text
template/form_common.cs -text
template/header.cs -text
template/help_tag_substitution.cs -text
template/list_create.cs -text
template/list_delete.cs -text
template/list_select.cs -text
template/macros.cs -text
template/main.cs -text
template/modpath_info.cs -text
template/nav.cs -text
template/subscribers.cs -text
template/textfile_edit.cs -text
template/textfiles.cs -text
template/ui/default/normal.hdf -text
/webusers.sample -text
