intl/cs/*.mo
intl/da/*.mo
intl/de/*.mo
intl/en/*.mo
intl/es/*.mo
intl/fi/*.mo
intl/fr/*.mo
intl/hu/*.mo
intl/it/*.mo
intl/ja/*.mo
intl/nl/*.mo
intl/pl/*.mo
intl/pt/*.mo
intl/ru/*.mo
intl/sl/*.mo
intl/sv/*.mo
