* text=auto !eol
/CHANGES -text
/INSTALL -text
/INSTALL.clearsilver -text
/README -text
/TODO -text
/UPGRADING -text
css/default.css -text
/ezmlm-web.cgi -text
/ezmlmwebrc -text
/htaccess.sample -text
/index.c -text
lang/de.hdf -text
lang/en.hdf -text
lang/jp.pm -text
spec/actions-spec.txt -text
spec/hdf-spec.txt -text
template/config_admin.cs -text
template/config_all.cs -text
template/config_archive.cs -text
template/config_main.cs -text
template/config_posting.cs -text
template/config_processing.cs -text
template/config_subscription.cs -text
template/footer.cs -text
template/form_common.cs -text
template/header.cs -text
template/help_tag_substitution.cs -text
template/list_create.cs -text
template/list_delete.cs -text
template/list_select.cs -text
template/macros.cs -text
template/main.cs -text
template/modpath_info.cs -text
template/nav.cs -text
template/subscribers.cs -text
template/textfile_edit.cs -text
template/textfiles.cs -text
/webusers.sample -text
