#$Id: htaccess.sample,v 1.1 2000/01/29 11:35:40 guy Exp $
#
#order deny,allow
#deny from all
#allow from .ru.ac.za
AuthName "EZ Mailing List Manager
AuthType Basic
AuthUserFile /etc/ezmlm/.htusers
require valid-user
