Source: ezmlm-web
Section: admin
Priority: extra
Maintainer: Lars Kruse <devel@sumpfralle.de>
Build-Depends: debhelper (>>3.0.0), gcc (>= 2.95), dpatch
Standards-Version: 3.8.0
Homepage: https://systemausfall.org/toolforge/ezmlm-web

Package: ezmlm-web
Architecture: any
Depends: httpd-cgi, libemail-address-perl, libemail-ezmlm-perl (>= 0.07), libclearsilver-perl, ${perl:Depends}
Suggests: qmail-src, bash (>=2.0), gcc
Description: Web interface for ezmlm-idx mailing list administration
 This web interface allows you to configure every part of an ezmlm-idx
 mailing list.
 Access control makes it possible, to share the administrative work in a
 controlled way.
 This package depends on the following programs, that are not part of the main
 debian distribution:
  * qmail - http://cr.yp.to/qmail.html
  * ezmlm-idx - http://ezmlm.org/
  * Mail::Ezmlm perl module via cpan or as a debian package from
    https://systemausfall.org/toolforge/debian

