# sample configuration file for encrypted mailing list support
# You do not need to change anything, if you do not want to
# manage encrypted mailing lists. See README.gnupg for details.

# Put this file besides ezmlmwebrc (just suffixed with ".gnupg").

# BEWARE: enable the following line ONLY if you installed the
# Mail::Ezmlm::Gpg module - otherwise ezmlm-web will not work!
#use Mail::Ezmlm::Gpg;

# turn support for encrypted mailing lists on or off
# defaults to 0 (off)
# you MUST enable the "use" line above, if you want to turn on gnupg support
$GPG_SUPPORT = 0;

